<h4>Add record</h4>
<div class="mb-3">
  <label class="form-label">Jogging date:</label>
  <input type="text" class="form-control" placeholder="dd/mm/yy">
</div>
<div class="mb-3">
  <label class="form-label">Distance (m):</label>
  <input type="text" class="form-control" placeholder="0">
</div>
<div class="mb-3">
  <label class="form-label">Time (s):</label>
  <input type="text" class="form-control" placeholder="0">
</div>
<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary" type="button">Save</button>
</div>
