
<h4>Add record</h4>
<form [formGroup]="recordForm" (ngSubmit)="ShareValue()">
<div class="mb-3">
  <label class="form-label">Jogging date:</label>
  <input type="text" name="date" class="form-control" formControlName="date"   placeholder="dd/mm/yy" >
</div>
<div class="mb-3">
  <label class="form-label">Distance (m):</label>
  <input type="text" name="distance" class="form-control" formControlName="distance"  placeholder="0"  >
</div>
<div class="mb-3">
  <label class="form-label">Time (s): </label>
  <input type="text" name="time" class="form-control" formControlName="time"  placeholder="0"  >
</div>
<div class="d-grid gap-2 d-md-block">
  <button class="btn btn-primary"  type="submit">Save</button>
</div>
</form>
